*{
    margin: 0px;
    padding: 0px;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh
}
.container{
    background-color: #006666;
    height: 320px;
    width: 300px;
    border-radius: 10px;
    padding: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.main{
   width: 250px;
   padding-left: 14px;
   text-align: center;
   padding-bottom: 10px;
}
p{
   padding-top: 10px;
}
.form{
  width: 240px;
  position: relative;
  left: 15px;
}
form{
   margin-top: 25px;
}
input{
   padding: 10px;
   width: 100%;
   margin-top: 10px;
   border-radius: 8px;
}
input[type="email"]
{
   margin-top: 25px;
}
button{
   width: 100%;
   margin-top: 35px;
   border-radius: 8px;
   background-color: black;
   color: white;
   font-weight: bold;
   font-size: medium;
   padding: 15px;
   border: none;
   cursor: pointer;
   position: relative;
  left: 10px;
}